[2020-05-13 18:57] fmaguire opened #2 "augur mask support"
Hi,
Thanks for this pipeline, its really handy.  We are adding support to run it directly from the outputs of https://github.com/jaleezyy/covid-19-signal and were wondering if optionally supporting vcf based masking for the augur analysis would be possible.

Happy to take a shot at adding it and making a PR but thought I would create the issue first to see what you thought.

[2020-05-13 19:38] jts commented on #2
Yeah, I think this is a good thing to support. I'd leave it off by default because I want to use the output to spot potential sequencing problems but this would be a good option for the config.

[2020-05-14 20:27] jts commented on #2
I looked into this and noticed that nextstrain masks the multiple alignment using a custom script that isn't shipped in `augur`: https://github.com/nextstrain/ncov/blob/master/rules/builds.smk#L114

`augur mask` can mask the consensus sequences but requires the masking sites as BED, which makes integration a bit more complicated.

[2020-07-10 16:23] agmcarthur opened #9 "homoplastic sites"
It would be interesting if the tree could label which positions are suspected of homoplasy: https://virological.org/t/issues-with-sars-cov-2-sequencing-data/473

[2020-07-21 22:05] dfornika opened #12 "Rule 'make_sample_qc_summary': Hard-coded filenames"
I've been having a bit of trouble running the `all_qc_summary` target.

It seems that the `make_sample_qc_summary` rule makes a few assumptions about filenames that aren't connected to the `config.yaml`

https://github.com/jts/ncov-tools/blob/8271770d662dbcf07d0f4f12611ad82781d0f398/qc/Snakefile#L333-L338

It seems to assume that input files are in a directory named `data` but most other rules see

[2020-07-21 22:21] jts commented on #12
Thanks for the report Dan, we’ll have a look.

Jared

[2020-07-22 12:53] rdeborja commented on #12
Hi Dan.  I've just submitted a PR to address the hardcoded filenames and to stay consistent with the other file lookup functions in the Snakefile.  As for the trouble's you've been running into, the current implementation for the all_qc_summary works with Illumina data only.  I have some modifications to support nanopore runs and am currently implementing and testing them with the Snakefile for pi

[2020-07-23 00:44] dfornika commented on #12
Thanks @rdeborja we're running both MinION and illumina.

[2020-07-24 18:43] rdeborja commented on #12
@dfornika were you getting a specific error when running the qc pipeline?  Also, did it happen for both Illumina and nanopore runs?  I would like to try and replicate the problem before submitting any more changes.

[2020-08-11 18:42] jts opened #15 "Mixture check improvements"
1. use same mpileup parameters as ivar
2. use primer trimmed bam instead of raw bam

[2020-08-12 14:25] jts commented on #12
I believe this is now fixed with the updated QC modules.

[2020-08-12 14:25] #12 closed

[2020-08-13 13:46] DarianHole opened #22 "all_summary_qc fails if data_root not set to 'data'"
Running the same dataset with different config `data_root` settings causes a failure in the `snakemake -s qc/Snakefile all_qc_summary --cores 1` command where the analysis fails due to missing input files. Here is the error for when I set the data_root to 'run':

[code]

If I set the `data_root` to 'data'  to match the error, I get an expected outcome and the correct tsv files. I have not tested t

[2020-08-13 14:22] rdeborja commented on #22
Thanks @DarianHole, just submitted a PR to fix this:
https://github.com/jts/ncov-tools/pull/23

[2020-08-13 14:26] rdeborja commented on #22
Merged, let me know if there's any other issues.

[2020-08-13 14:26] DarianHole commented on #22
Ya no problem! I didn't think it would be a hard fix. I'll do a quick test on it now!

[2020-08-13 14:26] #22 closed

[2020-08-14 14:02] DarianHole opened #26 "get_qc.py getting passed unrecognized argument --run_name"
Hi again,

I've encountered a new issue with running the `all_qc_summary` command. In this, the `get_qc.py` script is failing as it is being passed the run name as the argument `--run name <name>` when that is not an argument that it has available to it.

[code]

[2020-08-14 14:07] rdeborja commented on #26
After activating the conda environment, what version do you get when you type `pip show ncov_parser`?  The latest version is 0.5.1 which contains the latest changes.  After downloading, I've had to re-install the parser package times twice for some odd reason.

[2020-08-14 14:09] DarianHole commented on #26
Oh that is the issue, I completely forgot I had to do that again

Thanks

[2020-08-14 14:09] #26 closed

[2020-08-14 18:52] jts opened #27 "negative control check bed"
The negative control check should require the use of the non-overlapping bed: https://github.com/jts/ncov-tools/blob/master/etc/nCoV-2019.distinct_regions.bed

[2020-08-14 20:26] raphenya opened #28 "ncov-tools conda environment"
@jts installing `ncov-tools` with python 3.8 is taking too long to install. Currently at 80 minute log shows:
[code]

[2020-08-14 20:27] fmaguire commented on #28
It's a lot less painful with mamba, I think it's resolving the r packages
that causes the conda SAT solver to fall over.

On Fri., Aug. 14, 2020, 17:26 amos, <notifications@github.com> wrote:

[2020-08-14 20:28] jts commented on #28
Unfortunately I think longer than 80 minutes is typical for conda solving the environment

[2020-08-14 20:30] jts commented on #28
Is there a convenient way to install a collection of R packages? Maybe we should pull those out into a separate step.

[2020-08-14 20:36] raphenya commented on #28
I will look into that and see

[2020-08-14 21:14] DarianHole commented on #28
I found that solving the environment took a long time but was sped up for me when specified the snakemake version to <5.11.0. If I remember correctly, one of the dependencies only works with 5.10.0 of snakemake

Downloading is slow still though

[2020-08-14 21:30] fmaguire commented on #28
`mamba env create -f environment.yml` only takes a few minutes (3:48.09) on my laptop

[mamba](https://github.com/TheSnakePit/mamba) has become the officially [recommended](https://snakemake.readthedocs.io/en/stable/getting_started/installation.html) way to install snakemake due to this and weird version pinning issues.

Honestly, just updating the documentation using the bits from the snakemake d

[2020-08-14 22:00] jts commented on #28
That works for me! Thanks

[2020-08-14 22:50] jts commented on #28
Merged

[2020-08-14 22:50] #28 closed

[2020-08-17 14:24] #15 closed

[2020-08-18 16:11] DarianHole opened #31 "Generation of summary reports without inputting negative control names"
I was curious if it was possible to generate the reports made by the command `snakemake -s qc/Snakefile all_qc_reports --cores ##` without specifying any negative control sample names in the config file (optional parameter). Hopefully I didn't miss something silly on this...

I haven't been able to get it to work under these circumstances with it failing in the generation of the negative sample re

[2020-08-18 16:20] jts commented on #31
Good spot, this should be possible. I'll modify the negative control script to accept no files as valid input so the file is created, but empty.

Jared

[2020-08-18 16:22] DarianHole commented on #31
Awesome, thanks Jared!

[2020-08-18 17:02] jts commented on #31
It turns out that snakemake doesn't like the `input:` field to be empty, so I had to disable the report instead of making it empty

[2020-08-18 17:18] #31 closed

[2020-08-24 19:12] rdeborja opened #34 "Negative control samples and filenames"
As discussed during the CanCOGen meeting on August 24, an issue arose where negative control samples identified in the config.yaml were not properly handled if the associated files were not found.

[2020-08-24 19:40] DarianHole commented on #34
Yes thank you very much for looking into this!

For our pipeline, sometimes the negative control gets filtered out (when it contains no reads) so I was hoping if that happens that snakemake won't fail and instead just skips the negative control step if that makes sense. I can clarify more if needed

Darian

[2020-08-24 19:42] jts commented on #34
In that case, is the BAM present but empty or is the BAM missing entirely?

[2020-08-24 19:48] DarianHole commented on #34
No BAM file generated.

I am also attempting to address this on my end by removing the negative control check line in the config automatically when this happens but I was wondering if its possible to also add it to ncov-tools to skip the one check (as it seems to be the only issue)

[2020-08-24 19:54] jts commented on #34
Ok, I think we can handle it but I'll probably put it behind a flag (`skip_empty_negatives: true`) so that the more typical case (the user didn't enter the control names correctly) ends in an error

[2020-08-24 20:02] DarianHole commented on #34
That sounds perfect! Thanks again Jared and Richard!

[2020-08-25 13:23] jts commented on #27
Fixed by #33

[2020-08-25 13:23] #27 closed

[2020-08-26 16:29] mcroxen opened #35 "tmp_bam rule"
Two observations:

1. tmp_bam seems to have a hard-coded bam_pattern, and so if bam_pattern in your config.yaml differs, it will throw errors.
2. should tmp_bam be removed after the pipeline finishes?

[2020-08-26 16:46] jts commented on #35
Hi Matt,

Can you paste the error that you get for first part of the issue?

`tmp_bam` is a workaround because we need indexed bam files, but the nextflow pipeline doesn't create an index and we typically have read-only access to the pipeline results directory. For this reason, I'd like to keep the directories but I should rename `tmp_bam` to something nicer like `indexed_bam`.

Jared

[2020-08-26 16:55] mcroxen commented on #35
If I was using a different suffix in my yaml:
`bam_pattern: {sample}.somethingelse.bam`

the `get_primer_trimmed_bam_for_sample` called by `make_tmp_bam` rule (line 333) is looking for `{sample}.primertrimmed.rg.sorted.bam ` (ont) or `{sample}.mapped.primertrimmed.sorted.bam` (illumina), which may not always match the bam_pattern from config.yaml.

[2020-08-26 19:42] jts commented on #35
Ok, I understand now. We want to enforce that the primer-trimmed bams are used for this step, to avoid misleading results in the mixture check. This uses the `platform` config value to select the right bam suffix for the typical nanopore and illumina workflows:

https://github.com/jts/ncov-tools/blob/master/qc/Snakefile#L108

Would you like us to create a new config value `primer_trimmed_bam_patte

[2020-08-26 22:21] mcroxen commented on #35
That's fair. I guess its a little unclear which bam files should be used for `bam_pattern`. If you go by the artic-ncov2019 `*.qc.csv` file they list the `*.primertrimmed.rg.sorted.bam`, perhaps suggesting that is the "final" bam, when it probably should be `*.mapped.sorted.bam`

Regardless, it may be wise to allow for that `primer_trimmed_bam_pattern`

[2020-08-28 15:14] mcroxen opened #37 "license?"
What will this be licensed under?

[2020-08-28 15:33] jts commented on #37
MIT - @rdeborja can you add the license file?

[2020-08-28 15:41] rdeborja commented on #37
MIT license file added

[2020-08-28 15:43] #37 closed

[2020-08-28 15:43] mcroxen commented on #37
Thank you!

[2020-09-15 19:20] dfornika opened #40 "datafunk fails with biopython >1.77"
I'm seeing this failure on a recently-installed `ncov-qc` conda environment:
[code]

This seems to be related to a change that was made in biopython v1.78, where the `Bio.Alphabet` module was removed or deprecated:

https://github.com/biopython/biopython/blob/master/NEWS.rst#4-september-2020-biopython-178

I've been able to address this issue by downgrading biopython to v1.77.

Maybe this should a

[2020-09-15 19:46] rdeborja commented on #40
Thanks Dan, will update the `environment.yaml` file (as you suggested) test and push out.

[2020-09-16 14:20] jts commented on #40
PR merged, thanks Dan

[2020-09-16 14:20] #40 closed

[2020-09-21 15:32] jts opened #44 "Make the completeness threshold for including a sample in the tree-snp plot configurable"
Currently the threshold is 75%, @nknox suggested we allow this to be set in config.yaml

[2020-09-22 13:29] rdeborja commented on #44
@nknox I have configured the workflow to accept a `completeness_threshold` in the `config.yaml` file to allow custom thresholds to be used for the inclusion of samples to the SNP tree.  This has since been tested, submitted as a PR, reviewed and merged into master and is available for use.

[2020-09-22 19:02] andersgs opened #47 "Workflow structure"
Hi Jared.

Excellent work. Here are some suggestions that may help in the long term maintainability and portability of the project.

It would be helpful if the workflow were restructured to what is proposed as the recommended structure for Snakemake workflows: https://github.com/snakemake/snakemake/blob/fdc26e642f08fb4ca3f66fe8e310e8eda8a954a6/docs/snakefiles/deployment.rst

This would carry the a

[2020-09-22 20:01] jts commented on #47
Thanks for the comments Anders! @rdeborja and I will discuss and get back to you

[2020-09-22 20:02] andersgs opened #48 "One target to rule them all?"
Should there be an option of `snakemake -s <path>/Snakefile` that just runs all the targets, rather than having one run the three individual targets separately?

Or, could one conceivably submit the targets to separate jobs on an HPC cluster and run all three in parallel? I haven't tried, and haven't read enough of the code yet to understand if that is possible.

Cheers. Anders.

[2020-09-22 20:03] andersgs commented on #48
And, if not possible to run them in parallel, do they need to be run in that order (i.e., as specified in the docs?)?

[2020-09-22 21:46] jts commented on #48
Hi Anders,

This is something I definitely want to clean up as I agree its a bit confusing now as we've added many targets over time. Right now when I build everything I run `snakemake -s <path>/Snakefile all_qc_sequencing all_qc_analysis all_qc_reports` but the order does not matter.

I'll make it run all three of those targets by default.

Jared

[2020-09-22 21:48] #44 closed

[2020-09-23 14:45] jts commented on #47
Hi @andersgs,

I have a question about this proposal. Typically we store the Snakefile in a central repo, then make config.yaml in the directory containing the run we want to process. For example:

[code]

Then we run snakemake with `-s <path>/qc/Snakefile` within `sequencing_run_abcd` to populate the results directories:

[code]

If I understand correctly in the recommended deployment structure i

[2020-09-24 18:23] andersgs commented on #47
@jts that is a fair point. the argument against that workflow is that you have no way of knowing what version of the workflow was run in each run. so, you would have a hard time reproducing the results if you needed to for a specific run in the future - which is a typical requirement for public health bioinformatic workflows. I am assuming that you run the latest version of the workflow for each n

[2020-09-25 14:57] jts commented on #47
Thanks - a few comments:

Right now we always re-process all runs when we update `ncov-tools` but in the future as we release data publicly, or the results are included in publications, we'd freeze the results and not re-process. I agree with your points about provenance - usually (for other projects) I write the commit ID or version tag somewhere in the results to track this. Bundling the code as

[2020-09-25 16:49] fmaguire opened #49 "Singularity containerisation to enable use in conda-limited environments"
HPC/Compute Canada doesn't support conda so running the workflow is non-trivial.

They can use singularity so the options would be:

1. Create a container that has all the dependencies installed and have host install of snakemake executing rules in that environment (easier but less portable)
2. Create a container encompassing the entire tool (more portable but more complex).

Once done, this build

[2020-09-28 17:48] #48 closed

[2020-09-28 17:48] jts commented on #48
By default it should run all the QC targets now

[2020-09-28 18:09] #35 closed

[2020-09-28 19:51] jts commented on #47
Hi @andersgs,

I have started to try your suggestions in the `refactor` branch (referenced above). I have adopted the `workflow` structure and created files in `rules` for the main parts of the code (I still have to clean it up a lot, this is just a first cut). I have placed the external python/R code in `scripts`.

I was unable to remove the `srcdir` calls in this pass. It appears we cannot pass

[2020-09-29 20:32] poquirion commented on #49
Hello, I am with the C3G and Compute Canada.

A reasonable solution would be to have two containers, one with the dependencies, with fixed versions of the tools minus snakemake, and one with the ncov-tools scripts that depend on the previous container. Having a version number for all the tools in the environment file could also speed up the build speed and help reproducibility (https://www.anacond

[2020-09-30 17:44] jts commented on #49
Thanks @poquirion, I'd be happy to take a look if you want to fork and propose some changes. You may wish to have a look at issue #47 as we're discussing some other changes to the workflow that may effect the environments.

[2020-10-01 20:10] jts commented on #49
@poquirion just a head's up that I merged the first stage of the refactor - I suggest you update your fork before starting on the singularity changes

[2020-10-09 20:54] poquirion opened #51 "Parser from master branch in github installed in dependecies installed"
The last line of
`workflow/envs/environment.yml` is

`git+https://github.com/jts/ncov-tools.git#egg=ncov_parser&subdirectory=parser`

it installs the parser from the github's master branch. I think it should not be there, especially if you do not want the master branch version of the parser... Also, if you follow the README it seems redundant.

[2020-10-09 21:07] jts commented on #51
We are currently making `ncov-parser` into a standalone package on pip, it will soon be moved to the environment.yaml

[2020-10-09 23:48] poquirion commented on #51
In the mean time I might simply pull it out of environment.yml at least for the container version I am working on.

[2020-10-09 23:48] #51 closed

[2020-11-10 22:34] jts opened #52 "align2alleles.py will skip fixed variants when --min-allele-count is greater than 1"
When align2alleles.py is called with --min-allele-count > 1 and a SNP is present in all samples, the reference allele will not be included here:

https://github.com/jts/ncov-tools/blob/master/workflow/scripts/align2alleles.py#L82

This is not unintuitive so should be changed so the reference allele is always included

[2020-11-26 15:33] jts commented on #49
Resolved by @poquirion

[2020-11-26 15:33] #49 closed

[2020-11-26 15:34] jts commented on #47
I'm going to close this for now as we don't have any other refactoring planned. @andersgs if there are other changes you would like to see please feel free to re-open or make a new issue.

[2020-11-26 15:34] #47 closed

[2020-12-18 22:58] dfornika opened #57 "Conda package name for parasail is 'parasail-python'"
The conda package name for `parasail` is `parasail-python`:

https://anaconda.org/bioconda/parasail-python

But it's listed as `parasail` in the environment file:

https://github.com/jts/ncov-tools/blob/511f5efbdb9f3f13b37529cfe287408f30b0a0a7/workflow/envs/environment.yml#L19

[2020-12-18 23:24] jts commented on #57
Thanks Dan, good catch. I’ll fix that soon.

[2020-12-18 23:25] jts commented on #57
Oh, just saw the PR - thanks for that too.

[2020-12-18 23:25] #57 closed

[2021-01-27 17:52] dfornika opened #59 "Documentation for ncov-watch input"
The rule for preparing the `ncov-watch` input refers to two new `config.yaml` entries (`mutation_set` and `spike_mutations`):

https://github.com/jts/ncov-tools/blob/4280173d779b68c2ff3d037835fc7db491fb07d4/workflow/rules/defaults.smk#L54-L55

...but there is no documentation in the README.md describing the formats of those inputs.

Could a description of how to configure the `ncov-watch` inputs b

[2021-01-27 18:01] jts commented on #59
Will do, thanks for pointing that out.

[2021-01-27 19:52] jts commented on #59
Made a first pass at it in this section:

https://github.com/jts/ncov-tools#other-optional-configuration

Let me know how it looks.

[2021-01-27 20:01] nknox opened #60 "config file: making snp tree generation optional"
When processing a large number of samples through ncov-tools, the snp tree can take a long time to generate. Is it possible to modify the pipeline to make this step optional within the config file?

[2021-01-27 20:04] jts commented on #60
That's a good idea, but can I ask which output files you're interested in in this case? There are some rules that make different subsets of the results so there might already be one that does what you need.

[2021-01-27 20:22] dfornika commented on #59
I see. That is helpful, thanks. I misunderstood and thought that there were two separate config.yaml entries (`mutation_set` and `spike_mutations`). But it's a single entry `mutation_set` with default value `spike_mutations`.

[2021-01-27 20:36] nknox commented on #60
We would still want all other output files and plots for our routine data processing. Our sequencing group uses the plots to scan for amplicon dropout or regions of low coverage and we store the other reports as sequencing metadata within our IRIDA system. When we generate custom reports for our partners, the tree is useful to provide guidance on sample relatedness (and usually involve a smaller s

[2021-01-27 21:37] #59 closed

[2021-01-27 22:03] jts commented on #60
Ok got it, I'll try to think of a clean way to suppress just that plot.

[2021-01-27 22:09] fmaguire commented on #60
https://github.com/jaleezyy/covid-19-signal/blob/master/Snakefile#L118 it
could be done more tidily but this is how we implemented optional breseq in
SIGNAL

On Wed, 27 Jan 2021 at 18:04, Jared Simpson <notifications@github.com>
wrote:

--
Dr. Finlay Maguire
Donald Hill Fellow in Computer Science
Dalhousie University
-----------------------------------------
Website: finlaymagui.re

[2021-01-27 22:17] jts commented on #60
I have a function that gets the plots for the "qc_analysis" rule so I could put that check in here:

https://github.com/jts/ncov-tools/blob/master/workflow/rules/common.smk#L119

I think the single PDF report depends on the snp tree plot though so will need to pull out that dependency

[2021-01-28 18:56] poquirion opened #61 "Error on watch branch"
We are testing the tool with the watch branch and are getting this hard to track error:
[code]

It points to missing outputs. We do not have that error with the latest release (1.3.1)

If that helps, here is the list of software in our conda environement. Note that depending on when you build the conda env, this sofware list could be different. I think it would make sens to have a version for all

[2021-01-28 19:02] jts commented on #61
This is possibly a regression in Snakemake: https://github.com/snakemake/snakemake/issues/771

I am using 5.23.0 and don't have this problem. I am tied up at the moment but will update and try to reproduce this with 5.32.0.

[2021-01-28 19:03] poquirion commented on #61
we could also set the gihub pip install to a specific commit:
```$ pip install git+git://github.com/<user>/<repo>.git@<hash>```

[2021-01-28 19:08] poquirion commented on #61
We will start with building with the latest snakemake version that was working on our side (5.31.1), then @pphector, maybe you can give log info.

[2021-01-28 19:12] fmaguire commented on #61
It's weird that the scheduler is failing with such a simple workflow that doesn't have any steps with undefined output (e.g., `checkpoint` stages).

[2021-01-28 19:16] pphector commented on #61
Ok, the actual failing job is here:

[code]

It seems like it is not finding the VCF file to run with SnpEff, however the VCF file is there, it is just not compressed. Is the `pass.vcf.gz` part hardcoded in the SnpEff call?

[2021-01-28 19:25] pphector commented on #61
Here is a copy of the YAML file, in it the pattern for the VCFs is properly defined, and it does not have the `pass.vcf.gz` ending that the error refers to. It is the same YAML file we have used for ONT runs of the previous version of ncov tools.

[code]

[2021-01-28 19:43] jts commented on #61
Ah, @rdeborja I think this needs to prefer the variants pattern defined in the config rather than the platform-assumed pattern:

https://github.com/jts/ncov-tools/blob/511f5efbdb9f3f13b37529cfe287408f30b0a0a7/workflow/rules/annotation.smk#L12

[2021-01-29 13:38] rdeborja commented on #61
@poquirion I fixed the hardcoded file patterns and instead uses the `variants_pattern:` parameter in the config file.  Can you try branch `fix_snpeff_dependency`.

[2021-01-29 19:06] rdeborja opened #62 "Identifying amplicon dropouts"
During a CanCOGeN QC meeting, it was requested that a table or inclusion of amplicon dropouts in the summary report would be useful.  This could include information on SNPs found in primers.

[2021-01-29 20:36] fmaguire opened #63 "Keep pangolin up to date automatically"
Making this an issue so I don't forget about it while I think about ways to implement it:

- Add rule that runs `pangolin --update` before `pangolin` is run on samples
- Come up with some way to have this run every time, and to rerun the pangolin assignments (and other downstream steps) if pangolin gets updated

[2021-01-29 20:42] jts commented on #63
@rdeborja mentioned to me after the call that we often do our runs on HPC nodes without internet access, so we'll have to work around that for our local builds

[2021-02-10 14:44] will-rowe opened #64 "Latest pangolin release breaks ncov-tools"
Hiya,

The latest release of pangolin seems to have dropped thread support: https://github.com/cov-lineages/pangolin/issues/136

Pangolin now complains at the `-t` so I  had to downgrade the pangolin version in the ncov-tools env to 2.1.11

Not sure if you want to fix pangolin version or adjust the command to drop threads - happy to PR if you want either.

Cheers,

Will

[2021-02-10 14:50] jts commented on #64
Thanks for letting me know Will, I'll look at this

[2021-02-10 15:40] aineniamh commented on #64
I can reinstate it- but it hasn't been a functional flag in latest releases. It seems that dropping it may be causing more issues than solving, so I can update so using -t won't break anything.

[2021-02-10 15:45] jts commented on #64
Ah, my commit crossed with your comment @aineniamh! I've removed the flag, if it isn't functional I'll keep it this way in ncov-tools but understand if you want to put it back in for compatibility with other workflows/pipelines.

[2021-02-10 15:52] aineniamh commented on #64
Ah no problem! Sorry about that again, I had been doing a code 'spring-clean' and dropped quite a lot of the legacy code (including the now non-functional thread flag).
I've added a catch in that prints a warning but doesn't break in the latest release (https://github.com/cov-lineages/pangolin/releases/tag/v2.2.2), and hopefully we can support multithreading again in the future.

[2021-02-10 18:10] #64 closed

[2021-02-10 19:54] dfornika opened #65 "pangolin no longer has '-lv' flag"
This commit:

https://github.com/cov-lineages/pangolin/commit/d1ec05441be70c135e43e3be1b5b310154de8b3b#diff-60adb0b1d86889ec80ab00b2fe0ad9d0bedf1d3d250b52e8f56a63fba8533231

...removed the `-lv` flag that is used here:

https://github.com/jts/ncov-tools/blob/bf5aa2d878960fa436fd1ce82e72ee98dbc93223/workflow/rules/analysis.smk#L90

...which leads to pipeline failure.

[2021-02-10 21:44] jts commented on #65
Thanks @dfornika for reporting and @rdeborja for the fix.

[2021-02-10 21:44] #65 closed

[2021-02-19 15:42] DarianHole opened #69 "PDF reports fails to generate due to missing "lineage_notes" key"
Hi everyone,

After the [latest update](https://github.com/jts/ncov-tools/commit/29db4e54be3fa38133c0fd307c0426ec8fa9b81a) to the pdf report I keep getting a key error for missing the `lineage_notes` key. For the moment I've gotten it to work by checking out to the commit before this change (01e044b3e56ef2460abf93cf7d475072df23f078).

Error:
[code]

Let me know if I've missed anything to easily so

[2021-02-19 15:46] jts commented on #69
This change requires updating the ncov-parser library in the environment to version 0.6.4

[2021-02-19 15:53] DarianHole commented on #69
Ah thanks, I keeping missing those updates

[2021-02-19 15:53] #69 closed

[2021-02-22 22:26] DarianHole opened #70 "Pangolin v2.3.0 now requires gofasta"
Just a heads up that the latest pangolin release (v2.3.0) removed datafunk from its environment and added gofasta

I just did a `conda install gofasta` into my ncov-tools environment and everything still worked as expected

[2021-02-22 22:40] jts commented on #70
Thanks Darian, just swapped those packages

[2021-02-22 22:41] #70 closed

[2021-02-26 15:01] jts commented on #61
Closed by #67

[2021-02-26 15:01] #61 closed

[2021-02-26 15:02] jts commented on #9
Cleaning up old issues, I think this is now out-of-scope

[2021-02-26 15:02] #9 closed

[2021-02-26 15:04] jts commented on #2
Cleaning up old unresolved issues

[2021-02-26 15:04] #2 closed

[2021-02-26 15:32] jts commented on #60
@nknox you should now be able to turn off this plot with `build_snp_tree: false` in the config.yaml

[2021-02-26 20:33] raphenya commented on #9
@nodrogluap highlighted this might be worth re-opening see
- Repository: https://github.com/nodrogluap/pokay/tree/master/data and
- VCFs: https://raw.githubusercontent.com/W-L/ProblematicSites_SARS-CoV2/master/subset_vcf/problematic_sites_sarsCov2.mask.vcf

[2021-03-26 18:23] jts opened #72 "handle VOC sublineages"
VOC sublineages are starting to appear, like B.1.351.1. These should be flagged in the PDF report like, the parent lineage.

[2021-03-29 14:17] DarianHole opened #74 "Issue building SnpEFF database"
SnpEFF seems to have updated to a new version`5.0-1` which is causing the database build to fail when it is installed instead of version `5.0-0`.

Likely due to the line here as given to me by @kdmack87: https://github.com/jts/ncov-tools/blob/21fd71f4fc9207a592d6684997d6b66bc2d4ad3a/workflow/scripts/build_db.py#L9

I am not sure if the best solution would be to specify multiple options in the abov

[2021-03-29 14:22] jts commented on #74
@rdeborja could you look at this?

[2021-03-29 18:40] rdeborja commented on #74
@DarianHole Previously the workflow would download the `MN908947.3` version of the snpEff files from their repository of db build leaving the `build_snpeff_db` workflow redundant.  Since the latest snpEff update, it looks like the db file is corrupt or the link is broken.  I removed the fixed version of snpEff from the script and annotation workflow so that the build will work again.  Also, it sup

[2021-03-29 20:02] rdeborja commented on #74
@DarianHole the branch has been merged and should resolve the db build issue.

[2021-03-29 20:24] DarianHole commented on #74
Awesome, thanks! I'll run it through right now and update you with the results

[2021-03-29 20:34] DarianHole commented on #74
Works as intended! Thanks again for the quick fixes to this and the snpEFF logs

[2021-03-29 20:34] #74 closed

[2021-03-29 20:35] DarianHole commented on #60
Slow commenting, this change works as intended for me

[2021-04-28 18:25] poquirion opened #78 "build snpeff database at installation not run time."
Right not snpeff download it database at run time. And on top of that in install it in the conda environemnt folder
There are at least three cases where this will crash the pipeline.

1- When the pipeline in ran on a system with no internet access.
2- When the pipeline is ran with container
3- When conda is installed as one user and the pipeline in ran as another user.

[2021-04-28 18:43] poquirion commented on #78
I do it for the version we run at the Genome Center by adding that line at the end of the Dockerfile:

`RUN  bash -ic '/app/scripts/build_db.py'`

and removing the rules `build_snpeff_db` and `download_db_files` in the `workflow/rules/annotation.smk` files.

[2021-04-30 11:59] rdeborja commented on #78
The `snakemake` file does have a dependency on `CONDA_PREFIX` for the database as mentioned.  The goal was to simplify the process and was setup with conda in mind.

(1) Yes, if there is no internet access and the snpeff db has not been download before hand it will fail.

(2) This would be correct assuming the container was not a copy that already had the snpeff db downloaded.

(3) Does the other

[2021-04-30 13:55] poquirion commented on #78
Question,
If the db is downloaded, will the steps be automatically skipped? If yes, then I will just install the db the container in the deployment script. This will make out life on the CC system easier.

Then for your question, it is installed in the conda environment since the `RUN bash -ic '/app/scripts/build_db.py` is the last line in the dockerfile and the `bash -ic ''` force the conda env t

[2021-05-04 15:06] jts commented on #62
This is now implemented

[2021-05-04 15:06] #62 closed

[2021-05-04 15:06] #60 closed

[2021-05-04 18:02] jts commented on #72
closed by #79

[2021-05-04 18:02] #72 closed

[2021-05-29 15:02] danieljbridges commented on #34
Great to see this has already been reported some time ago. We regularly have negatives with no corresponding bam file, but the flag `skip_empty_negatives: true` doesn't seem to work. Has this been implemented yet?

[2021-05-29 15:23] jts commented on #34
Hi @danieljbridges,

Sorry but this slipped so hasn't been implemented yet. Thanks for bumping this issue, we'll try to add it.

Jared

[2021-05-30 06:20] danieljbridges commented on #34
Thanks @jts - looking forward to seeing this added!

[2021-06-11 21:54] Mach-2 opened #85 "Lineage assignment of 'none' when processing many samples"
Hello, I've been having a problem lately where the run_name_summary_qc.tsv file is failing to populate with lineage assignments. The `lineage`, `lineage_notes`, and `scorpio_call` columns all contain values of 'none' for all samples.

If I run fewer samples, the output seems fine. If there are ~100 or more samples being analyzed, the columns show the 'none' value. The lineage assignments in the li

[2021-06-11 22:03] rdeborja commented on #85
Can you tell me the version of ncov-tools and ncov-parser being used?

[2021-06-11 22:25] Mach-2 commented on #85
Yep! ncov-tools is 1.7.1, and ncov-parser should be 0.6.7. We re-made the environment at 1:00pm today with mamba straight from the environment.yml file

[2021-06-12 01:05] rdeborja commented on #85
I just re-created my environment and made sure to match yours with the latest version.  I ran it on 158 samples and all three columns (i.e. lineage, lineage_notes, scorpio_call) correctly showed the values in the lineage_report.csv file.  I ran it with usher and pangolearn as the pangolin inference engine and both populated the fields in the _summary_qc.tsv file correctly.

Were there any errors i

[2021-06-17 18:32] DarianHole commented on #85
So this doesn't appear to be a sample number issue in itself although the number of samples do seem to affect the final output for some reason. When I'm running ncov-tools on a lower number of samples  (tested on 7 samples) I have no problem with the final result and see the lineage call as expected.

I tried again on a slightly larger dataset, 17 samples including the original 7, and I ran into t

[2021-06-17 18:59] rdeborja commented on #85
@DarianHole just to confirm, the `_lineage_report.csv` file is currently populated with the expected lineage info.  The `none` values only occurs in the `_summary_qc.tsv` file correct?

[2021-06-17 19:12] DarianHole commented on #85
Correct! Sorry that was important info I should have included!

Lineage report from pangolin is as expected, the `summary_qc` file has the `none` values which then leads to that being in the pdf output

[2021-06-18 12:48] rdeborja commented on #85
@DarianHole @Mach-2 which platform (i.e. Illumina, Oxford-nanopore) were you processing when this issue occurred?

[2021-06-18 13:14] DarianHole commented on #85
I've seen it with both nanopore and the freebayes Illumina files as input. I could quickly check if the ivar Illumina files lead to a similar output though as I am sure I have a number I could quickly find.

Exact input for the nanopore:
[code]

[2021-06-18 13:37] rdeborja commented on #85
@DarianHole I was able to reproduce the issue with a Nanopore run.  The problem is with `ncov-parser` and the lineage file parser.  The lack of scorpio call caused the `note` field to be populated with `Assigned from designation hash.` I'm not sure if or how the number of samples affect scorpio calls, but have since fixed `ncov-parser` under branch `issue_85`.  Do you mind giving it a test?

[2021-06-18 13:46] DarianHole commented on #85
Thanks for the quick work Richard! It seems like it may not have been a sample number issue but instead a certain type of sample whose output that was messing with the final output (so more samples makes it more likely).

I can test it right now and report back pretty quick as well

[2021-06-18 13:58] DarianHole commented on #85
Yep @rdeborja I can confirm that the changes to the `ncov-parser` fix the issue for my dataset! Thanks for the quick fix and help as always!

[2021-06-18 14:17] rdeborja commented on #85
@DarianHole great, thanks for the quick turn around.  I've merged and created a new release (ncov-parser 0.6.8) on pypi.  @Mach-2 can you this resolved your issue as well?

[2021-06-18 14:25] Mach-2 commented on #85
Thanks for the quick solution Richard (and thanks for helping test things, Darian)! Darian and I were describing the same issue, so I think it's fair to assume that if the fix worked for his test data set then things are good to go now.

[2021-06-18 14:25] #85 closed

[2021-06-22 19:20] rdeborja commented on #34
@danieljbridges @DarianHole I just merged a PR that checks the negative controls in the config yaml file, if the negative controls samples don't have a valid BAM file it skips them preventing `ncov-tools` from failing during report creation.

[2021-06-23 14:47] DarianHole commented on #34
Awesome, thanks @rdeborja!

I'll have to see if I can test this out today or tomorrow!

[2021-06-25 17:46] danieljbridges opened #90 "pangolin error"
Hi there,

I just did a fresh install of the `ncov-tools` environment and there appears to be an issue with pangolin. I was running a  all_final_report and got the following error [2021-06-25T192934.968980.snakemake.log](https://github.com/jts/ncov-tools/files/6717991/2021-06-25T192934.968980.snakemake.log):

TypeError: can't pickle _thread.RLock objects
[Fri Jun 25 19:28:28 2021]
Error in rule ma

[2021-06-28 14:06] rdeborja commented on #90
Hi Daniel,

I re-created my conda environment and ran `ncov-tools` with the latest versions of packages and ran it on both Illumina and ONT datasets but am unable to reproduce this issue.  Is the version of `pangolin`, `scorpio`, and `pangoLEARN` different between the two conda environments you were using?  I currently have:
[code]

Cheers,
Richard

[2021-06-29 10:00] danieljbridges commented on #90
Hi @rdeborja,

Thanks for looking into this. I stupidly deleted my working `ncov-qc` environment. Have recreated it multiple times, but keep getting the same error. When I compare 'pangolin' / 'scorpio' between my 'pangolin' env (works perfectly) and my 'ncov-tools' env, they are identical to yours.

I looked closer during the environment creation and saw these errors:

[code]

[2021-06-30 18:20] danieljbridges commented on #90
Ok this is clearly a install-specific issue as everything worked perfectly on another computer. After removing and reinstalling the env > 10 times, am unsure what else to do. Apologies - understand this isn't your problem, but if anyone has any suggestions or pointers, I am all ears!

[2021-06-30 18:26] rdeborja commented on #90
Thanks for letting me know @danieljbridges.  I was frantically re-installing `ncov-tools` and `pangolin` separately on various platforms but have not been able to reproduce the issue.  I did encounter the same `SafetyError` and `ClobberError` but attributed it to a package caching error not associated with the issue running `pangolin`.

[2021-06-30 18:34] kdmack87 commented on #90
Hi Daniel - I had a similar error coming up in ncov-tools regarding snpEff. As with your case, it happened after I re-created our ncov-tools environment. Based on the error message, it was tracing back to an install of snpEff within a separate conda environment that we use (mamba-signal - https://github.com/jaleezyy/covid-19-signal). Recreating this mamba-signal environment as well cleared the snp

[2021-07-01 08:12] danieljbridges commented on #90
Thanks all for your help and suggestions. I found out there were some pangolin packages in the `base` folder that appeared to be interfere with the `ncov-qc` environment... Everything is working well now....

[2021-07-01 08:12] #90 closed

[2021-07-01 10:22] danieljbridges commented on #34
Now that I have sorted out my environment I have been able to test this and it works perfectly. Thanks so much for this very useful addition!

[2021-07-02 02:57] #34 closed

[2021-08-05 12:41] dnhare opened #92 "Missing amplicon ID error"
Hi there,

I've recently installed ncov-tools but the snakemake script repeatedly fails to execute due to the following error. I'd greatly appreciate any advice as to how to correct this error.

Many thanks.

Dan

Error: At least one layer must contain all faceting variables: `amplicon_id`.
* Plot is missing `amplicon_id`
* Layer 1 is missing `amplicon_id`
Backtrace:
     █
  1. └─global::plot_fra

[2021-08-05 13:10] rdeborja commented on #92
@dnhare Can you tell me which primer scheme you're using?  The script that parses the primer file expects the ARTIC primer BED name field format (i.e. `nCoV-2019_1_LEFT`, `nCoV-2019_1_RIGHT`).

The input file used to generate the failing plot is `qc_sequencing/<samplename>.amplicon_coverage.bed`.  Can you check the following:
* a qc_sequencing/<samplename>.amplicon_coverage.bed file exists for eac

[2021-08-05 16:01] dnhare commented on #92
Thank you very much for your prompt response.

We're using ARTIC V3 primer scheme. The path to the primer_bed in the config.yaml file is:
 ~/artic-ncov2019/primer_schemes/nCoV-2019/V3/nCoV-2019.primer.bed

Unfortunately, the issue seems to be that we are not generating a qc_sequencing directory, or .amplicon.coverage.bed files.

Are these supposed to be outputs after executing the snakemake script

[2021-08-05 16:28] jts commented on #92
This error can occur when the pipeline fails to find any samples. Can you double-check that your bam files are named using the pattern defined in your config.yaml?

[2021-08-05 18:12] dnhare commented on #92
Thank you @jts

As far as I can tell my bam files are in the pattern specified in my config.yaml (I haven't changed the default pattern of "{data_root}/{sample}.sorted.bam")

The bam files are named in the data_root directory as numbered files e.g. "18.sorted.bam"

There are also corresponding .bam.bai files in that directory e.g. "18.bam.bai" etc.

Do you think this naming structure could be prev

[2021-08-06 15:03] dnhare commented on #92
@jts @rdeborja This was solved by specifying the absolute path to the sample directory in the config.yaml file, and removing '~'

Thanks for your help with this.

[2021-08-06 16:42] rdeborja commented on #92
Thanks for letting us know @dnhare.  Great tip in case anyone else encounters the same issue.

[2021-09-29 16:02] jpalmer37 opened #94 "TypeError when running most recent Pangolin"
Just wanted to provide visibility to a compatibility issue between Snakemake >=6.8.1 and Pangolin >=3.1.13. The following error is produced when running Pangolin:

[code]
## Solution
Already addressed in [this issue](https://github.com/cov-lineages/pangolin/issues/313) on the Pangolin repo. It requires downgrading Snakemake to 6.8.0:
- `snakemake<=6.8.0` in  `environment.yml`

[2022-01-12 00:22] ChadFibke opened #97 "Question about ambiguity threshold"
Hi @jts,

I hope all is going well. I'm currently reading through ncov-tools and had a question about the qc ambiguity threshold in:
[make_sample_qc_summary](https://github.com/jts/ncov-tools/blob/9ad3d51458de8a5cb540c45a2392f646f3dfdf51/workflow/rules/analysis.smk#L157)

Based on the information in [get_qc.py](https://github.com/jts/ncov-parser/blob/main/bin/get_qc.py), it appears you  count the

[2022-01-12 16:26] rdeborja commented on #97
Hi Chad,

The flags in the `qc_pass` column of the `qc_reports/_summary_qc.tsv` file were intended as an indicator for further review and not as a hard cut-off for a sample to fail.  We use it in conjunction with the `qc_reports/*_ambiguous_position_report.tsv` which provides details on the position, the total number of samples with the ambiguous base and the IUPAC code.

Cheers,
Richard

[2022-01-12 16:36] ChadFibke commented on #97
Hi @rdeborja,

Thanks for your response. Is there any information you use to carry-forward/discount a sample once flagged with excess ambiguity (I would imagine any position overlapping positions-of-interest)?

Best,
Chad

[2022-01-12 18:01] rdeborja commented on #97
Yes to the overlapping position of interest.  The number of samples with the same ambiguity code at the same position can be found in the `qc_reports/*ambiguous_position_report.tsv`.  I'll follow up by looking into the `qc_reports/*mixture_report.tsv` file which provides allele counts and proportions.  Never hurts to look at the BAMs in IGV too.  Note that the mixture and ambiguous base reports ap

[2022-01-12 18:20] jts commented on #97
Just to chime in with a few thoughts. Ambiguous positions can happen for quite a few reasons:

-RT/amplification artifacts for low quality/quantity samples. These should be relatively sporadic so not consistent across samples
-contamination. Depending on how bad the contamination is this can lead to a few samples with the same artifact (or many if the contamination is particularly bad)
-incorrect

[2022-01-12 18:56] ChadFibke commented on #97
Thanks for all the input, I appreciate it!

[2022-01-12 18:56] #97 closed

[2022-05-06 11:58] rdeborja commented on #94
With the latest version of `snakelike` (i.e. 7.6.1) from the most recent nPR, the issue seems to be resolved.

[2022-05-30 19:01] dgaston opened #101 "ncov_tools bad interpreter: Permission denied error"
Hello,

I keep getting this error now on multiple machines and with fresh installs/set-ups of signal. Running the command:

python signal.py --configfile config.yaml --cores 24 ncov_tools

I get this error on the following step: make_amplicon_steps with the error message:

/bin/bash: /mnt/shared-data/clin/public_health/sars-cov-2/analysis/covid-19-signal-nml/.snakemake/conda/47aef19e0702f2843c364d

[2022-05-30 21:15] rdeborja commented on #101
@dgaston what happens if you run `primers_to_amplicons.py` on the command line outside `signal` and `ncov-tools`?
[code]
Also, even though you manually set the permissions to the entire conda environment, what are the permissions for the script?
[code]
I just checked our and it should be:
[code]

[2022-05-31 16:43] dgaston commented on #101
For the permissions it looks like it inherited the 777 as expected:

-rwxrwxrwx

If I copy the primers_to_amplicons.py script into another directory and run with my base conda environment, or the base signal conda environment:

-bash: ./primers_to_amplicons.py: /mnt/shared-data/clin/public_health/sars-cov-2/analysis/covid-19-signal-nml/.: bad interpreter: Permission denied

The interpreter on the

[2022-05-31 16:49] jts commented on #101
This looks like a conda environment issue, the script is looking up the python interpreter using `/usr/bin/env python`, like the rest of the scripts in ncov-tools. I don't know why this is resolving to ` /mnt/shared-data/clin/public_health/sars-cov-2/analysis/covid-19-signal-nml/.` instead of the python path. @fmaguire?

[2022-05-31 16:59] dgaston commented on #101
Yeah, if I set the shebang line of primers_to_amplicons.py, get_qc.py and collect_qc_summary.py all to /usr/bin/env python it runs and completes fine

[2022-05-31 17:00] DarianHole commented on #101
It might be that Dan is using the fork I had for the NML (or it looks like it) which runs with the bash script that was made before `signal.py` was available. I've never tried running signal.py with it

[2022-06-01 13:35] fmaguire commented on #101
Yeah, its an issue with the wrong python interpreter being used.  Two solutions

- Add the env shebang to all the ncov-tool scripts (as `env` will correctly use the activated conda env python interpreter)

- Alternatively, I just tend to run signal+ncov-tools (via `signal.py` or directly calling snakemake) from within the activated `ncov-qc` conda environment (created for ncov-tools as per the REA

[2022-06-01 13:58] fmaguire commented on #101
Good catch @rdeborja!

[2022-06-01 14:22] dgaston commented on #101
Just wanted to clarify that I was running via signal.py. But yes, changing the shebang line in the 3 scripts to correct them back to #!/usr/bin/env python fixed things

[2022-07-18 17:07] AnyaKovalenko opened #102 "Error: <Workflow defines configfile config.yaml but it is not present or accessible.>"
hi to everyone. Please could somebody help me with my issue? After the installation I ran the following command:

`snakemake -s workflow/Snakefile all`

and this error comes to me:
[code]

I can not find out why the tool does not see my config.yaml file. It seems I missed something. Please could somebody help me with this. Many thanks in advance.

[2022-07-18 17:32] AnyaKovalenko commented on #102
Hi Jared, thank you so much for the quick response. You was right - it my case the `config.yaml` was in the workflow folder, now I moved it upper to the ncov-tools folder. So now it works. But a new one error.. Please see below:

[code]
please could you help with this error? thank you

[2022-07-19 10:59] AnyaKovalenko commented on #102
Hi Richard. Thank you so much for helping. Oh true! I did not have all seq results in that folder, only consensus and bam files for each barcode. So now included all the seq results and everything is working great :)
Amazing plots! Brilliant work! Many thanks for this tool! My best to you and team.

[2022-07-25 16:59] #102 closed

[2022-11-28 19:49] juliadouglasf opened #105 "Where is the primers_to_amplicons.py script?"
Hello,

I can't find the `primers_to_amplicons.py` script within the [ncov-tools scripts directory](https://github.com/jts/ncov-tools/tree/master/workflow/scripts).

I am trying to run the [NML fork of the SIGNAL pipeline](https://github.com/phac-nml/covid-19-signal-nml), but everything seems to be running smoothly until the ncov-tools `make_amplicon_bed` rule. There is no obvious error; only `Err

[2022-11-28 19:52] rdeborja commented on #105
It can be found in the `ncov-parser` package which is one of the dependencies in the `environment.yaml` file.

https://github.com/simpsonlab/ncov-parser/blob/main/bin/primers_to_amplicons.py

[2022-11-28 21:26] DarianHole commented on #105
The conda env for that fork should be found in your clone of the repo under `.snakemake/conda/ncov-qc-pangolin4`. If ncov-parser is not installed there that would be odd as as Richard said its in the environment.yaml file. Hopefully doublechecking the install fixes it

It could be an issue with one of the primer bed files as well though

[2022-11-29 14:49] juliadouglasf commented on #105
Thank you both for your responses! ncov-parser wasn't listed with `pip list` within the conda environment @DarianHole mentioned, so I manually used `pip install ncov-parser`. After `chmod +x primers_to_amplicons.py` to get rid of the ensuing `Permission denied` error, my colleague and I are troubleshooting a `ModuleNotFoundError` for `vcf`.

[code]

[2022-11-29 15:01] DarianHole commented on #105
Did potentially none of the pip installs work? That is what it somewhat sounds like which would be odd. Actually it looks like I had a spacing difference in that file so that is likely it. Sorry about that. I've adjusted it

You'll probably either have to pip install the remaining dependencies or re-make the env after pulling the fix I made to the yaml file.

https://github.com/jts/ncov-tools/blob

[2022-11-29 22:11] #105 closed